<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>

  <title>Ironhack Twitter</title>
</head>
<body>
  <div id="container">
    <img src="https://avatars1.githubusercontent.com/u/50278?v=3&s=200" class="header-logo">

    <%- body %>
  </div>
</body>
</html>
